body {
  padding: 0px; 
  margin: 0px; 
}
#header{
  min-width: 100%;
  background-color: #9e9e9e;
}
#header-logo{
  display: inline-block;
  background-color: #9f9f9f;
  padding: 5px;
}
#header-menu{
  display: inline-block;
}
#header-menu::after{
  
}

#container{

}